<section>
    
  <header>
      <nav class="navbar">
          <ul>
              <li class="header1"><a href="{% url 'main' %}">Rapid Information Explorer</a></li>
              <li class="header2"><a href="{% url 'index'  %}">Engineering Equipment Recommender</a></li>
              <li class="header3"><a href="{% url 'sparql' %}">SPARQL Endpoint</a></li>
              <li class="header3"><a href="{% url 'login' %}">Vendor Login</a></li>
            </div>
          </ul>
      </nav>
  </header>

</section>