{% load static %}
<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Product Search</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static '/css/main.css' %}" type="text/css">

  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="center">
      <h1>Product Search</h1>
      <form method="post">
        {% csrf_token %}
        {% for tag in headings %}
        <div class="txt_field">
          <input type="text" name="{{tag}}">
          <span></span>
          <label>{{tag}}</label>
        </div>
        {% endfor %}
       
        
        <input type="submit" value="Submit">
        <div class="signup_link">
           <a href="#"></a>
        </div>
      </form>
    </div>

  </body>
</html>
